.colorPalete {
  /* display: flex; */
  display: block;
  height: 20px;
  width: 100px;
}

.box {
  width: 20px;
  height: 80px;
}
#dark-blue {
  background-color: var(--dark-blue);
}
#midnight {
  background-color: var(--midnight);
}

#mint {
  background-color: var(--mint);
}
#orange {
  background-color: var(--orange);
}
#sky-blue {
  background-color: var(--sky-blue);
}
