.profileContainer {
  min-height: 100%;
}
.header {
  font-family: var(--header-font);
  font-size: 36px;
  color: var(--midnight);
  width: auto;
  /* text-shadow: 1px 1px 3px var(--orange); */
}

.userDetails {
  font-family: var(--primary-font);
  font-size: 28px;
  color: var(--midnight);
}

.bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 200px;
  background-color: var(--dark-blue);
}

.detailList {
  list-style: none;
}

#colors {
  transform: rotate(0deg) !important;
  left: -10px;
}

.userInfo {
  text-decoration: underline;
}
