#main {
  height: 50vh;
  width: 100%;
  background-color: var(--midnight);
  display: flex;
  animation: slideDown 0.4s ease-out 1;
}
.album-img {
  height: 100%;
  width: fit-content;
}

#colors {
  display: block;
  transform: rotate(90deg);
  position: relative;
  top: 0px;
}

#colors .box {
  height: 66.5px;
}

.track-details {
  color: var(--white);
  position: relative;
  left: -300px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  line-height: 0px;

  font-family: var(--primary-font);
}
a {
  font-size: 18px;
  margin-top: 10px;
  color: var(--orange);
  font-weight: bolder;
}
#title {
  font-family: var(--header-font);
}

#artist-name {
  font-size: 32px;
  font-weight: lighter;
  margin: 0px;
}
#album-name {
  font-style: italic;
  font-size: 20px;
  margin: 0px;
}

#date {
  font-weight: lighter;
  font-size: 30px;
  margin: 0px;
}
#view-more {
  display: flex;
  align-items: center;
  padding-right: 20px;
  justify-content: space-between;
  width: fit-content;
  font-size: 20px;
  margin-top: -40px;
  text-shadow: 2px 2px 2px var(--dark-blue);
}

#artist-pic {
  border-radius: 100%;
  margin-left: 10px;
}

#artist-pic:hover {
  filter: brightness(0.6);
}
#bottom-col {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.addFav {
  width: fit-content;
  display: inline;
  margin-top: -40px;
}
button {
  background: var(--sky-blue);
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 6px;
  transition: all 0.2s;
  text-align: center;
  font-family: var(--primary-font);
  font-weight: 500;
  width: fit-content;
  font-size: 24px;
}
button:hover {
  background: #8bb3ca;
}
button:active {
  transform: translate(1px, 1px);

  background: #b95d46;
}

#audioPreview {
  position: relative;
  bottom: 0px;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.6));
  /* margin-top: 30px; */
  width: 50vw;
  height: 60px;
  outline: none;
}

audio::-webkit-media-controls-panel {
  background-color: #e09f81;
}

.loading {
  font-family: var(--header-font);
  text-align: center;
  position: absolute;
  top: 40%;
  left: 40%;
  color: var(--midnight);
  font-size: 48px;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100px);
  }
  80% {
    transform: translateY(2px);
  }
  90% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* Comment css */
#commentHeader {
  font-family: var(--primary-font);
}

.commentSection {
  color: var(--midnight);
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.commentSection button {
  position: relative;
  top: -21px;
  height: 55px;
  border-radius: 0px 8px 8px 0px;
  box-shadow: -3px 0px 3px rgba(0, 0, 0, 0.322);
  font-weight: bold;
}

#newComment {
  width: 100%;
}

#commentText {
  outline: none;
  border: none;
  border-radius: 8px 0px 0px 8px;
  min-height: 50px;
  font-weight: bold;
  width: 80%;
  resize: none;
  font-size: 15px;
  color: var(--midnight);
}
